[Unit]
Description=Automatic single shot sink configurator
Requires=wirepasSink1.service
ConditionFileNotEmpty=/boot/wirepas/sink.env

[Service]
Type=oneshot
User=pi
EnvironmentFile=/boot/wirepas/sink.env
ExecStart=/home/pi/.local/bin/wm-node-conf set -s sink1 -S=yes
ExecStartPost=sudo mv /boot/wirepas/sink.env /boot/wirepas/sink.success

[Install]
WantedBy=multi-user.target
