[Unit]
Description=Wirepas sink service
Requires=getty.target

[Service]
EnvironmentFile=/boot/wirepas/gateway.env
Type=simple
User=pi
ExecStart=/home/pi/wirepas/sinkService -i 1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
