[Unit]
Description=Wirepas Transport Process
Requires=network-online.target

[Service]
EnvironmentFile=/boot/wirepas/gateway.env
Type=simple
User=pi
ExecStart=/home/pi/.local/bin/wm-gw
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
