[Unit]
Description=Script to execute at first boot only
Requires=network-online.target
ConditionFileNotEmpty=/home/pi/wirepas/firstboot.sh

[Service]
ExecStart=/home/pi/wirepas/firstboot.sh
Type=simple
# Restart until the script is executed. The script will change its name once executed successfully
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
