[Unit]
Description=Wirepas Docker gateway update
After=docker.service network-online.target
Requires=docker.service network-online.target
ConditionFileNotEmpty=/boot/wirepas/gateway.env

[Service]
EnvironmentFile=/boot/wirepas/gateway.env
WorkingDirectory=/home/wirepas/
Type=oneshot
RemainAfterExit=yes
User=wirepas

# Stop current containers and pull just in case we use latest tag
ExecStartPre=docker-compose down && docker-compose pull
# Start the gateway
ExecStart=docker-compose up -d

[Install]
WantedBy=multi-user.target
