[Unit]
Description=Wirepas Docker gateway update
After=docker.service network-online.target
Requires=docker.service network-online.target
ConditionFileNotEmpty=/boot/wirepas/gateway.env

[Service]
EnvironmentFile=/boot/wirepas/gateway.env
WorkingDirectory=/home/wirepas/
Type=oneshot
RemainAfterExit=yes
User=wirepas

ExecStartPre=/home/wirepas/.local/bin/docker-compose down
ExecStart=/home/wirepas/.local/bin/docker-compose up -d

[Install]
WantedBy=multi-user.target
