[Unit]
Description=Automatic single shot sink configurator
After=wirepasGatewayUpdate.service
Requires=wirepasGatewayUpdate.service
ConditionFileNotEmpty=/boot/wirepas/sink.env

[Service]
Type=oneshot

ExecStart=su - wirepas -c "docker run \
                           -v wirepas_dbus-volume:/var/run/dbus \
                           --env-file /boot/wirepas/sink.env \
                           wirepas/gateway_transport_service wm-node-conf set -s sink1 -S=yes"

# If previous cmd was successfuly executed, mv sink.env 
ExecStartPost=mv /boot/wirepas/sink.env /boot/wirepas/sink.success

[Install]
WantedBy=multi-user.target
